/* Firefox */
/* * {
	scrollbar-width: thin;
	scrollbar-color: #6c757d #343a40;
} */

/* Fix for jumpy scrollbar  */
/* html {
	margin-left: calc(100vw - 100%);
} */

body.modal-open {
	padding-right: 0 !important;
}
/* Chrome/Edge/Safari */
*::-webkit-scrollbar {
	width: 10px;
}
*::-webkit-scrollbar-track {
	background: var(--dark);
}
*::-webkit-scrollbar-thumb {
	background-color: var(--secondary);
	border: 2px solid var(--secondary);
}

.App {
	text-align: center;
}
body {
	font-family: "Roboto", sans-serif;
}

/* .app-container {
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
} */

.container-fluid {
	display: flex;
	flex-direction: column;
}

/* Page Layout */
.header {
	display: flex;
	align-items: center;
	margin-top: 1rem;
	font-weight: bold;
	padding-bottom: 1rem;
}

.header h1,
.header h2,
.header h3,
.header h4,
.header h5,
.header h6 {
	margin-right: auto;
	margin-left: 0;
	font-weight: normal;
	text-align: left;
	margin-bottom: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}

/* Spinner */
.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
}

/* Theme Colors */

.drag-handle {
	cursor: pointer;
}

.btn.disabled,
.btn:disabled {
	opacity: 0.4;
}
