.input-selector {
	display: flex;
	flex-direction: column;
}

.input-types {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

.input-types .btn-col {
	flex: 1;
	margin-bottom: 1rem;
}

.selected-input-component {
	width: 100%;
	margin-bottom: 1rem;
}

.selected-input-component .footer,
.selected-input-component .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.selected-input-component .title-text {
	font-size: 1.25rem;
	resize: none;
	line-height: inherit;
}

.selected-input-component .type-text {
	font-size: 0.9rem;
}

.modal-header {
	display: flex;
	flex-direction: column;
}

.modal-header .form-group {
	width: 100%;
}

.field-preview {
	border: 2px solid lightgray;
	padding: 0.5rem;
	width: 100%;
}
